.package-list {
  padding: 20px;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.package-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  text-align: center;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4d4f;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.delete-button:hover {
  background: #ff7875;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  text-align: left;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #f8f9fa;
  margin-bottom: 5px;
  border-radius: 5px;
}

.product-small-image {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
  object-fit: cover;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.toggle-button.active {
  background-color: #4caf50; /* Green for active */
}

.toggle-button.inactive {
  background-color: #f44336; /* Red for inactive */
}